body {
    background-color: #af6d89;
    font-family: 'Segoe UI', Arial, sans-serif; 
    min-height: 100vh; 
}

.form-box {
    background: white;
    padding: 40px; 
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);  
}

h1 {
    color: #d63384;
}

label {
    color: #e64980;
    font-weight: bold;
}

.btn-pink {
    background-color: #d63384;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    transition: background 0.3s ease;
}

.btn-pink:hover {
    background-color: #c2186a;
    color: white;
}

@media (max-width: 768px) {

    h1 {
        font-size: 24px;
        text-align: center;
    }

    .profile-img {
        width: 160px;
    }

    .navbar-nav {
        text-align: center;
    }

    .box, .profile-box, .form-box {
        margin-bottom: 15px;
        padding: 15px;
    }

}