body {
    background-color: #fff0f6;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #d63384;
}

h1 {
    color: #d63384;
}

h2 {
    color: #e64980;
}

.profile-img {
    width: 220px;
    border-radius: 50%;
    border: 4px solid #f8c8dc;
}

.profile-box {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}